<div class="container">
  <%= render '/pages/nav' %>
  <div class="hero-container">
    <div class="hero-box">
      <%= render 'form', question: @question  %>
    </div>
  </div>
  <%= render '/pages/footer' %>
</div>