<div class="container">
  <%= render '/pages/nav' %>

  <div class="hero-container">
    <div class="hero-box">
      
      <%= render 'form', listing: @listing %>

    </div>
  </div>
  <%= render '/pages/footer' %>
</div> 