<div class="footer-c"> 
  <footer>
    <ul>
      <li class="git-logo"><a target="_blank" href="https://github.com/ChristopherDalziel" class="fab fa-github"></a></li>
      <li>© Christopher Dalziel</li>
    </ul>
  </footer>
</div>