/* Navigation Bar */
.nav-c {
  display: flex;
  align-items: center;
  background-color: white;
  height: 7%;
  box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.40);
}

a {
  color: black;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 14px;
}


nav ul {
display: flex;
}

/* Removal of decimals from un-ordered list */
nav ul li {
  list-style: none;
  padding: 5px 30px;
}

nav ul li a {
text-decoration: none;
}

/* Footer */
.footer-c {
  display: flex;

  align-items: center;
  margin-top: auto;
  height: 5%;
  text-transform: uppercase;
  font-size: 14px;
  background-color: white;
  box-shadow: -10px -10px 12px 0px rgba(0,0,0,0.4);
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 10px;
    
  }
  
  footer ul {
    display: flex;
  }
  
  /* Removal of decimals from un-ordered list */
    footer ul li {
      list-style: none;
      padding-right: 5px;
  }
  
  footer ul li a {
    text-decoration: none;
  }

 .fa-github-square {
   display: flex;
   font-size: 15px;
 }

 a:hover {
  background-color: #9AD3AE;
  color: white;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}