<div class="container">
  <%= render '/pages/nav' %>

  <div class="hero-container">
    <div class="hero-box">

    <%= render 'form', user_detail: @user_detail %>
    </div>
  </div>
  <%= render '/pages/footer' %>
</div>