<div class="container">
  <%= render '/pages/nav' %>
    <div class="hero-container">
      <div class="hero-box">

        <%= render 'display' %>
        
        </div>

      </div>
      <%= render '/pages/footer' %>
    </div>
</div>